<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <title>WMS仓库管理</title>
    <link href="~/Content/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo"><img src="~/images/3.jpg" style="width:130px;height:45px" /></div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item"><a href="/Home_page/Stocks">仓库</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                        <dd><div id="cc" class="easyui-calendar" style="width:180px;height:180px;"></div></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        闲心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">到货管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/DhEmp/GetAll">到货登记</a></dd>
                            <dd><a href="/DhEmp/AddEmp">快捷到货</a></dd>
                            <dd><a href="/DhEmp/Show">到货记录</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">入库业务</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Chuku/Index">入库明细</a></dd>
                            <dd><a href="/Chuku/renwudan">入库任务单</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">出库管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">出库明细</a></dd>
                            <dd><a href="javascript:;">出库任务单</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">调拔业务</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">调拔单列表</a></dd>
                            <dd><a href="javascript:;">调拔物品详情</a></dd>
                            <dd><a href="javascript:;">补货需求列表</a></dd>
                            <dd><a href="javascript:;">补货需求详情</a></dd>
                            <dd><a href="javascript:;">调拔单审核</a></dd>
                            <dd><a href="javascript:;">审核查看</a></dd>
                            <dd><a href="javascript:;">调出发配送区</a></dd>
                            <dd><a href="javascript:;">调拔入库</a></dd>
                            <dd><a href="javascript:;">调入处理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">库存管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Home_page/Stocks">总库存查询</a></dd>
                            <dd><a href="/Home_page/Security">安全库存预警</a></dd>
                            <dd><a href="/Home_page/Groupbooking">移位中查询</a></dd>
                            <dd><a href="/Home_page/Spectaculars">库存报警看板</a></dd>
                            <dd><a href="/Home_page/Management">临期报警管理</a></dd>
                            <dd><a href="/Home_page/Precondition">前置仓库库存查询</a></dd>
                            <dd><a href="/Home_page/Drop">吊牌查询</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">报损管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">报损管理</a></dd>
                            <dd><a href="javascript:;">报损审核</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">前置仓补货管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">补货申请</a></dd>
                            <dd><a href="javascript:;">补货管理</a></dd>
                            <dd><a href="javascript:;">补货审核</a></dd>
                            <dd><a href="javascript:;">补货单管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">盘点管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">盘点任务</a></dd>
                            <dd><a href="javascript:;">盘点审核</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">仓库管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">仓库设置</a></dd>
                            <dd><a href="javascript:;">库区管理</a></dd>
                            <dd><a href="javascript:;">货位管理</a></dd>
                            <dd><a href="javascript:;">库管员管理</a></dd>
                            <dd><a href="javascript:;">仓库管理权限</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">系统设置</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">参数设置</a></dd>
                            <dd><a href="javascript:;">类别顺序</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">补货管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">添加补货单</a></dd>
                            <dd><a href="javascript:;">管理补货单</a></dd>
                            <dd><a href="javascript:;">审核补货单</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px">@RenderBody()</div>
        </div>

        <div class="layui-footer layui-btn layui-btn-disabled" style="background: linear-gradient(to top right, #CDDC39, #8BC34A, #FFEB3B);color:black">
            <marquee>
                <p>

                    You can choose whatever path you want.It's never too late to be the person you want to be.
                    你可以选择任何你想走的路,去做你想成为的那个人永远都不会晚。
                    A wise man gets more from his enemies than a fool from his friends.
                    智者从敌人身上学到的比愚者从朋友身上学到的还要多。
                </p>

            </marquee>
        </div>
    </div>
    <script src="~/Content/layui-v2.5.6/layui/layui.js"></script>

        <script>
            //JavaScript代码区域
            layui.use('element', function () {
                var element = layui.element;

            });
        </script>
    </body>
</html>
