
@{
    ViewBag.Title = "shangpinxq";
    Layout = "~/Views/Shared/Warehouse_homepage.cshtml";
}


<link href="~/Easy Ui/Content/icon 1.css" rel="stylesheet" />
<link href="~/Easy Ui/Content/easyui 2.css" rel="stylesheet" />
<script src="~/Easy Ui/jquery.min 3.js"></script>
<script src="~/Easy Ui/jquery.easyui.min 4.js"></script>
<script src="~/Easy Ui/easyui-lang-zh_CN 5.js"></script>
<input type="hidden" id="Id" value="@ViewBag.Id" />

<table id="dg"></table>
<br />
<div style="text-align:center">
    <input type="button" id="btnSave" value="返回" />
</div>
<script>
    $('#dg').datagrid({
        url: 'http://localhost:55266/api/Warehouses/ChuKuShowxq?Id=' + $("#Id").val(),
        method: "get",
        columns: [[
            { field: 'Id', title: '序号', width: 100 },
            { field: 'C_Coding', title: '商品编码', width: 100 },
            { field: 'C_Name', title: '商品名称', width: 100 },
            { field: 'Q_Specifications', title: '商品规格', width: 100 },
            { field: 'D_Unit', title: '计量单位', width: 100 },
            { field: 'Quantity', title: '实际库存数量', width: 100 },
            { field: 'Q_Number', title: '出任务数量', width: 100 },
            { field: 'D_Stock', title: '已出库数', width: 100 },
            
        ]]
    });
    //返回
    $("#btnSave").click(function () {
        location.href = "/Task/caigou";
    });
</script>




