
@{
    ViewBag.Title = "TaskAdd";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<h2>添加盘点任务</h2>

<table>
    <tr>
        <td>任务名称：</td>
        <td><input id="Text1" type="text" /></td>
        <td>盘点仓库：</td>
        <td><input id="Text1" type="text" /></td>
    </tr>
</table>

