
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DhDj</title>
</head>
<body>
    <div> 
        <div id="Cxk"></div>
        <div id="Sjxs"></div>
    </div>
</body>
</html>
<script>
    function (){
        $.ajax({

        })

    }
</script>