
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetXqy</title>
</head>
<body>
    <input type="hidden" value="@ViewBag.ids" id="uid" />
    <div>
        到货日期:<label id="Dhrq"></label>&nbsp;&nbsp;&nbsp;&nbsp;
        供应商:<label id="Gys"></label>&nbsp;&nbsp;&nbsp;&nbsp;
        卸货库区:<label id="Kq"></label>&nbsp;&nbsp;&nbsp;&nbsp;
        <br />
        <table>
            <tr>
                <td>序号</td>
                <td>原料编码</td>
                <td>原料名称</td>
                <td>存放温区</td>
                <td>原料规格</td>
                <td>采购数量</td>
                <td>采购单价</td>
                <td>金额(元)</td>
                <td>备注</td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>

    $(function () {
        Shows();
    });
    ///显示
    function Shows() {
        var id = $("#uid").val()
        $.ajax({
            url: "http://localhost:55266/api/DhEmp/GetXqy?id="+id,
            type: "GET",
            dataType: "json",
            success:
                function (res) {
                    var tb = "";
                    $("#rd").empty();
                    $(res).each(function () {
                        console.log(res);
                        tb += "<tr>"
                            + "<td>" + this.DhId + "</td>"
                            + "<td>" + this.DhCgdh + "</td>"
                            + "<td>" + this.DhGys + "</td>"
                            + "<td>" + this.DhPl + "</td>"
                            + "<td>" + this.DhRq + "</td>"
                            + "<td>" + this.DhName + "</td>"
                            + "<td>" + this.DhType + "</td>"
                            + "<td>" + "<input id=" + this.DhId + " type='button' value='删除'" + "onclick= Xqy(" + this.DhId + ") />" + "</td>"
                            + "</tr>";
                    })
                    $("#rd").append(tb);
                }
        })
    }
</script>