
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mtk</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <div>
        <h3>选择产品</h3>
        产品编码:<input id="Bm" type="text" />产品名称:<input id="Mc" type="text" />
        <input id="Button1" type="button" value="查询" onclick="Showc()" />
        <table>
            <thead>
                <tr>
                    <td>序号</td>
                    <td>所属品类</td>
                    <td>物料编码</td>
                    <td>物料名称</td>
                    <td>物料规格</td>
                    <td>物料属性</td>
                    <td>计量单位</td>
                    <td>操作</td>
                </tr>
            </thead>
            <thead id="th"></thead>
        </table>
    </div>
</body>
</html>
<script>

    $(function () {
        Showc();
    });
    function Showc() {
        var Bm = $('#Bm').val()
        var Mc = $('#Mc').val()
        $.ajax({
            url: "http://localhost:55266/api/DhEmp/GetPl?Bm="+Bm+"&Mc="+Mc+"&Id=0",
            type: "GET",
            dataType: "json",
            success:
                function (res) {
                    var tb = "";
                    $("#th").empty();
                    $(res).each(function () {
                        console.log(res);
                        tb += "<tr>"
                            + "<td>" + this.Id + "</td>"
                            + "<td>" + this.Pl + "</td>"
                            + "<td>" + this.Bm + "</td>"
                            + "<td>" + this.Sx + "</td>"
                            + "<td>" + this.Mc + "</td>"
                            + "<td>" + this.Gg + "</td>"
                            + "<td>" + this.Dw + "</td>"
                            + "<td>" + "<input id=" + this.Id + " type='button' value='选择'" + "onclick= Xqy(" + this.Id + ") />" + "</td>"
                            + "</tr>";
                    })
                    $("#th").append(tb);
                }
        })
    }
    //详情
    function Xqy(Id) {
        window.parent.opener.document.getElementById("A431").value = Id;
         window.close();
   
    }
</script>