
@{
    ViewBag.Title = "Drop";
    Layout = "~/Views/Shared/Warehouse_homepage.cshtml";
}
<link href="~/Easy Ui/Content/icon 1.css" rel="stylesheet" />
<link href="~/Easy Ui/Content/easyui 2.css" rel="stylesheet" />
<script src="~/Easy Ui/jquery.min 3.js"></script>
<script src="~/Easy Ui/jquery.easyui.min 4.js"></script>
<script src="~/Easy Ui/easyui-lang-zh_CN 5.js"></script>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
    <legend>吊牌查询</legend>
</fieldset>
<br />
<br />
 吊牌编号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input id="Coding" class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:100px" placeholder="请输入" />
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
<br />
<br />
<br />

@*table表格*@
<table id="dg" style="width:100%" ></table>

@*绑定数据*@
<script>
    //显示
    $('#dg').datagrid({
        url: 'http://localhost:55266/api/WMS_Alaetr/Show',
        method: 'get',
        pagination: true,
        pageSize: 10,
        pageList: [10, 20, 50],
        columns: [[
            { field: 'ck', checkbox: true },
            { field: 'Id', title: '序号', width: 100 },
            { field: 'Coding', title: '吊牌编号', width: 200 },
            {
                field: 'Manufacture', title: '投入使用时间', width: 100, formatter: function (value, row, index) {
                    var date = new Date(value);
                    return date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
                }
            },
            {
                field: 'Valid', title: '登记时间', width: 200, formatter: function (value, row, index) {
                    var date = new Date(value);
                    return date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
                }
            },
            { field: 'CategoryId', title: '使用次数', width: 200 },
            {
                field: 'Static', title: '当前状态', width: 200, formatter: function (value, row, index) {
                    return value == 1 ? "空闲" : "使用中";
                }
            },
            {
                field: 'cz', title: '操作', width: 200, formatter: function (v, r, i) {
                    return '<input type="button" onclick="Edit(' + r.Id + ')" value="使用记录" />';
                }
            }
        ]]
    });

    function Edit(Id) {
        location.href = "DropXiang?Id=" + Id;
    }

    //查询
    $("#btn").click(function () {
        $('#dg').datagrid('load', {
            Coding: $("#Coding").val(),
        });
    });

</script>



